# Google Earth Engine Credentials
GEE_PROJECT_ID=hopeful-keep-469909-p9
GEE_CLIENT_ID=485029614933-n75c2s2q6j4kcfpvppvkgngakb7811nv.apps.googleusercontent.com
GEE_CLIENT_SECRET=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

# NASA EarthData Credentials
EARTHDATA_TOKEN=eyJ0eXAiOiJKV1QiLCJvcmlnaW4iOiJFYXJ0aGRhdGEgTG9naW4iLCJzaWciOiJlZGxqd3RwdWJrZXlfb3BzIiwiYWxnIjoiUlMyNTYifQ.eyJ0eXBlIjoiVXNlciIsInVpZCI6Im5hYmlkMTIiLCJleHAiOjE3NjQxMTUxOTksImlhdCI6MTc1ODkxMjU3NSwiaXNzIjoiaHR0cHM6Ly91cnMuZWFydGhkYXRhLm5hc2EuZ292IiwiaWRlbnRpdHlfcHJvdmlkZXIiOiJlZGxfb3BzIiwiYWNyIjoiZWRsIiwiYXNzdXJhbmNlX2xldmVsIjozfQ.8vyswo9Jg0fwYTbw0G_GDfZ90vNC9hQLZrNHAlaMFmVrh_SOT4ge-TOZg1w5kYZILfVq5mCTrn8DZWSAW4pRObA4cISOhBm1iKip-tA5Fiff1wXsEot6y5FhFCAiVGZ35oLVxVXIfivAO_t3cszPcGQ3oeV17TB1QCTe_7YwXyuaFsiV68kv1w7rBNHGMFVGBGGULrvj26hDjeDpKlqRguLPo9U4uZRJ_0u5iMiOAuxLEs5h0Uiz_UNiIwz8tHCCfjZiAosvwAf_yKf_69C3J_fHOUTkfHisD1VyI3pZUBLX2rluqB1D4_TGkexMy73kDRaAAg1zy8Tu76-t_wYTYg
EARTHDATA_USERNAME=nabid12
EARTHDATA_PASSWORD=KgS/YJxWJe4@A9s

# Groq API
GROQ_API_KEY=gsk_GATXUWWYDFFHN4SK64F6H3X6UVUCRGMR6BXJ4JAPT2MMG5QI5VRQLQNE